.form_actions 
  .six.columns.alpha
    = submit_tag 'Save', :class => 'save'
    = submit_tag 'Save and Continue Editing'
    = button_tag 'Cancel', :confirm => 'Are you sure you want to cancel? You\'ll lose any unsaved changes!'
  .two.columns.offset-by-four.omega
    = button_tag 'Remove', :confirm => 'Are you sure you want to permanently remove this page?', :class => 'remove'
