h1.title {
  border-bottom: 1px solid #DDD;
  font-size: 130%;
  font-weight: bold;
  line-height: inherit;
  padding-bottom: 5px;
}

h2 {
  font-size: 115%;
  line-height: inherit;
  font-weight: bold;
}
