.site_bar {
  background: transparent image-url('site_bar.png') top left repeat;
  color: #DDDDDD;
  margin-bottom: 25px;
  padding: 25px 0;
  width: 100%;
  border-bottom: 2px solid white;

  a {
    color: $refinery_blue;
    text-decoration: none;
  }

  #site_name {
    text-align: left;

    h1 {
      line-height: inherit;
      margin-bottom: 0;
      font-size: 100%;
      display: inline;
      padding-right: 10px;
      font-weight: bold;
      color: #FFF;
    }
  }

  #login_details {
    text-align: right;
  }

  #refinery_logo {
    text-align: center;

    .refinery_logo {
      margin: 5px auto 0;
      background: image-url('refinery_logo_sprite.png') no-repeat 0 -18px;
      display: block;
      text-indent: -9999em;
      width: 30px;
      height: 15px;

      &:hover {
        background: image-url('refinery_logo_sprite.png') no-repeat 0 0;
      }
    }
  }

}

@media only screen and (max-width: 767px) {
  .site_bar {
    #site_name,
    #login_details { 
      text-align: center; 
      margin-bottom: 5px;
    }
  }
}
