/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require skeleton
 *= require_self
 */

// Skeleton overrides

.site_bar {
  background: transparent image-url('site_bar.png') top left repeat;
  color: #DDDDDD;
  margin-bottom: 25px;
  padding: 20px 0;
  width: 100%;

  a {
    color: #DDDDDD;
  }

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }

  .center {
    text-align: center;
  }

  h1.site_name {
    line-height: inherit;
    margin-bottom: 0;
    font-size: 100%;
    display: inline;
    padding-right: 10px;

    a {
      font-weight: bold;
      color: #FFF;
      text-decoration: none;
    }
  }

  .refinery_logo {
    margin: 5px auto 0;
    background: image-url('refinery_logo_sprite.png') no-repeat 0 -18px;
    display: block;
    text-indent: -9999em;
    width: 30px;
    height: 15px;

    &:hover {
      background: image-url('refinery_logo_sprite.png') no-repeat 0 0;
    }
  }
}

h1.title {
  border-bottom: 1px solid #DDD;
  font-size: 120%;
  font-weight: bold;
  line-height: inherit;
  padding-bottom: 5px;
}

input.widest {
  width: 100%;
}

textarea.wysiwyg {
  width: 100%;
  height: 400px;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.advanced_options {
  input[type='text'], textarea, select {
    width: 80%;
  }
}

.form_actions {
  .save {
    color: #509958;
  }

  .remove {
    color: #920008;
  }
}
